/.idea/
/build/main/
/dist/main/
/venv/
/jsons/
/jsons/*.json
/savedata.json
/settings.json
/items/*
/items/
/dist/
/build/
/dist.zip
/items.zip
/main.spec
/main.spec.bak
/settings.json.bak
/.gitignore
